

body {
  background-color: #000;
  margin: 0;
}

#nexttol2 {
  font-family: 'Roboto Condensed', sans-serif;
  position: absolute;
  top: calc(50vh + 200px);
  left: calc(50vw - 40px);
  font-size: 45px;
  opacity: 0;
}
#backtotitle {
  font-family: 'Roboto Condensed', sans-serif;
  position: absolute;
  top: calc(50vh + 280px);
  left: calc(50vw - 25px);
  font-size: 25px;
  opacity: 0;
}

#nexttol3 {
  font-family: 'Roboto Condensed', sans-serif;
  position: absolute;
  top: calc(50vh + 200px);
  left: calc(50vw - 40px);
  font-size: 45px;
  opacity: 0;
}
#backtol1 {
  font-family: 'Roboto Condensed', sans-serif;
  position: absolute;
  top: calc(50vh + 280px);
  left: calc(50vw - 25px);
  font-size: 25px;
  opacity: 0;
}

#nexttol4 {
  font-family: 'Roboto Condensed', sans-serif;
  position: absolute;
  top: calc(50vh + 206px);
  left: calc(50vw - 40px);
  font-size: 43px;
  opacity: 0;
  z-index: 8;
}
#backtol2 {
  font-family: 'Roboto Condensed', sans-serif;
  position: absolute;
  top: calc(50vh + 280px);
  left: calc(50vw - 25px);
  font-size: 25px;
  opacity: 0;
  z-index: 9;
}

#nexttol5 {
  font-family: 'Roboto Condensed', sans-serif;
  position: absolute;
  top: calc(50vh + 210px);
  left: calc(50vw - 45px);
  font-size: 45px;
  opacity: 0;
}
#backtol3 {
  font-family: 'Roboto Condensed', sans-serif;
  position: absolute;
  top: calc(50vh + 280px);
  left: calc(50vw - 25px);
  font-size: 25px;
  opacity: 0;
}

#nexttol6 {
  font-family: 'Roboto Condensed', sans-serif;
  position: absolute;
  top: calc(50vh + 200px);
  left: calc(50vw - 45px);
  font-size: 45px;
  opacity: 0;
}
#backtol4 {
  font-family: 'Roboto Condensed', sans-serif;
  position: absolute;
  top: calc(50vh + 280px);
  left: calc(50vw - 25px);
  font-size: 25px;
  opacity: 0;
}

#nexttol7 {
  font-family: 'Roboto Condensed', sans-serif;
  position: absolute;
  top: calc(50vh + 200px);
  left: calc(50vw - 20px);
  font-size: 43px;
  opacity: 0;
  z-index: 3;
}
#backtol5 {
  font-family: 'Roboto Condensed', sans-serif;
  position: absolute;
  top: calc(50vh + 280px);
  left: calc(50vw - 20px);
  font-size: 22px;
  opacity: 0;
  z-index: 2;
}

#nexttol8 {
  font-family: 'Roboto Condensed', sans-serif;
  position: absolute;
  top: calc(50vh + 200px);
  left: calc(50vw - 40px);
  font-size: 43px;
  opacity: 0;
}
#backtol6 {
  font-family: 'Roboto Condensed', sans-serif;
  position: absolute;
  top: calc(50vh + 280px);
  left: calc(50vw - 25px);
  font-size: 25px;
  opacity: 0;
}

#nexttol9 {
  font-family: 'Roboto Condensed', sans-serif;
  position: absolute;
  top: calc(50vh + 200px);
  left: calc(50vw - 40px);
  font-size: 43px;
  opacity: 0;
  z-index: 15;
}
#backtol7 {
  font-family: 'Roboto Condensed', sans-serif;
  position: absolute;
  top: calc(50vh + 280px);
  left: calc(50vw - 25px);
  font-size: 25px;
  opacity: 0;
  z-index: 14;
}


#nexttol10 {
  font-family: 'Roboto Condensed', sans-serif;
  position: absolute;
  top: calc(50vh + 200px);
  left: calc(50vw - 40px);
  font-size: 55px;
  opacity: 0;
  z-index: 7;
}
#backtol8 {
  font-family: 'Roboto Condensed', sans-serif;
  position: absolute;
  top: calc(50vh + 280px);
  left: calc(50vw - 25px);
  font-size: 25px;
  opacity: 0;
  z-index: 8;
}



#returntotitle {
  font-family: 'Roboto Condensed', sans-serif;
  position: absolute;
  top: calc(50vh + 200px);
  left: calc(50vw - 40px);
  font-size: 43px;
  opacity: 0;
}
#backtol9 {
  font-family: 'Roboto Condensed', sans-serif;
  position: absolute;
  top: calc(50vh + 280px);
  left: calc(50vw - 25px);
  font-size: 25px;
  opacity: 0;
}

#bigtitle {
    font-family: 'Baloo Bhaina 2', cursive;
    color: white;
    font-size: 50px;
    line-height: 50px;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
}
#notetext {
    font-family: 'Baloo Bhaina 2', cursive;
    font-size: 30px;
    line-height: 30px;
    color: #fc9586;
    padding-left: 40px;
    padding-right: 40px;
}
#notetext2 {
    font-family: 'Baloo Bhaina 2', cursive;
    font-size: 30px;
    line-height: 30px;
    color: #ebb209;
    padding-left: 40px;
    padding-right: 40px;
}
#notetext3 {
    font-family: 'Baloo Bhaina 2', cursive;
    font-size: 30px;
    line-height: 30px;
    color: #fc9586;
    padding-left: 40px;
    padding-right: 40px;
}
#return {
  font-family: 'Baloo Bhaina 2', cursive;
  font-size: 30px;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  color: #664796;
}
